body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #54d9dd, #ffffff, #54d9dd); 
    color: black;
    text-align: center;
    padding: 20px;
    line-height: 1.6;
}

.container {
    background-color: #9cf8ef; /* Svetlé pozadie kontajnera */
    border-radius: 12px; /* Okrúhlejšie rohy */
    padding: 25px; 
    margin: auto;
    max-width: 630px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Väčší tieň pre jemný 3D efekt */
    transition: transform 0.3s ease; /* Animácia */
}

.container:hover {
    transform: scale(1.02); /* Jemné zväčšenie kontajnera */
}

h1 {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 2.2em; /* Väčší font pre meno */
    letter-spacing: 1px; /* Trochu väčšie medzery medzi písmenami */
}

.profile-pic {
    width: 160px; /* Mierne zväčšenie obrázka */
    border-radius: 50%; /* Okrúhla fotka */
    margin: 20px auto;
    display: block;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2); /* Pridanie tieňa k obrázku */
    transition: transform 0.3s ease; /* Animácia pre zväčšenie obrázka */
}

.profile-pic:hover {
    transform: scale(1.1); /* Zväčšenie obrázka pri hoveri */
}

button {
    padding: 12px 20px; /* Väčšie tlačidlo pre lepšiu interakciu */
    background-color: #004d40; /* Farba pre tlačidlo */
    color: white;
    border: none;
    border-radius: 8px; /* Okrúhlejšie rohy tlačidla */
    cursor: pointer;
    margin-top: 20px;
    font-size: 1em; /* Väčší font pre tlačidlo */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Jemný tieň pre tlačidlo */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Pridanie animácie pre hover */
}

button:hover {
    background-color: #00695c; /* Svetlejší odtieň pri hoveri */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25); /* Väčší tieň pri hoveri */
}

.bio {
    margin-top: 20px;
    
}
